.login{
    width: 100%;
    background-color: darkgray;
    min-height: 100vh;
    padding: 40px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    .inner{
        width: 100%;
        max-width: 342px;
        margin:0 auto;
        padding: 20px;
        height:auto;
        background-color: #fff;
        border-radius: 10px;
        margin-bottom: 50px;
        .error-text{
            margin-bottom: 10px;
            color: red;
        }
        @media (max-width:450px) {
            width: 100%;
            max-width: 100%;
        }
       h1{
           margin-bottom: 25px;
           text-align: center;
       }
        form{
        
        }
    }
}