.style_button{
    width: 100%;
    display: block;
    margin-bottom: 25px;
    border-radius: 3px;
    background-color: #003466;
    border:1px solid #003466;
    color:#fff;
    font-size: 14px;
    font-weight: 500;
    outline: none;
    padding: 12px 0;
    text-align: center;
}