.loading{
    width: 100%;
    min-height: 100vh;
    // background-color: rgba(0,0,0,1);
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
     .inner{
         width: 100%;
     }

}